.texto-vermelho {
  color: red;
  font-weight: bold;
}

.texto-amarelo {
  color: #d4a017; /* Um tom de amarelo mais escuro para facilitar a leitura */
  font-weight: bold;
}

.texto-verde {
  color: green;
  font-weight: bold;
}

.texto-destaque{
  color: blue;
  font-weight: bold;
}

.preco-promocional{
  color: red;
  font-weight: bold;
}
