.status-planejamento {
  color: orange;
}

.status-desenvolvimento {
  color: blue;
}

.status-testes {
  color: purple;
}

.status-concluído {
  color: green;
}

.nota-alta {
  background-color: lightgreen;
}

.nota-baixa {
  background-color: lightcoral;
}